.row
  .col-md-10.col-md-offset-1
    %h1.text-center Welcome aboard!
    %p.text-center You can find here totaly random articles and pictures, enjoy.
    .slider
      %h4 <-- Here will be slider with pictures from articles -->

    =link_to 'New Article', new_article_path, class: 'btn btn-default text-right'
