body {
  padding-top: 50px;
}

.slider {
  margin: 15px 0;
  height: 300px;
  border: 1px solid #777;
}

.text-right {
  float: right;
}

footer {
  color: #777;
  font-size: 12px;
  margin-top: 15px;
}

.body-input {
  height: 100px;
}

.index-art-list {
  margin-top: 15px;
  border-bottom: 1px solid #ddd;
}

.art-date {
  color: #aaa;
}

.index-photo {
  width: 100px;
  height: 100px;
  border-radius: 10px;
}
